@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

:root {
  --red: hsl(0, 100%, 68%);

  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);

  --ff: 'Barlow Condensed', sans-serif;
  --ff-2: 'Barlow', sans-serif;

}


body {
  font-family: var(--ff);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  width: min(85%, 1100px);
  margin-inline: auto;
}

h1,h2,h3,h4 {
  line-height: 1.1;
}

a {
  text-decoration: none;
}

li { 
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid-auto{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
       

.hamburger[aria-expanded="true"] + #navigation {
  transform: translateX(0);
}

.hamburger[aria-expanded="true"] > img {
  content: url('../assets/icon-close.svg');
  transform: rotate(180deg);
}