<ul id="navigation">
    <li><a href="#">Product</a></li>
    <li><a href="#">Features</a></li>
    <li><a href="#">Pricing</a></li>
    <li><a href="#">Login</a></li>
</ul>

<style>
    ul {
        display: flex;
    }
    @media (max-width: 800px) {
        ul {
            display: none;
        }
    }
</style>
