<ul id="navigation">
    <li><a class="item-link" href="#">Product</a></li>
    <li><a class="item-link" href="#">Features</a></li>
    <li><a class="item-link" href="#">Pricing</a></li>
    <li class="dot"></li>
    <li><a class="item-link" href="#">Login</a></li>
</ul>

<style>
    ul {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    a {
        text-transform: uppercase;
        font-weight: 700;
        color: var(--very-dark-blue);
        letter-spacing: 0.6px;
        position: relative;
        transition: background-color 300ms ease;
    }

    a:hover {
        border-bottom: 2px solid var(--very-dark-blue);
    }

    li:last-child a {
        color: var(--grayish-blue);
    }

    li:last-child a:hover {
        border-bottom: 2px solid var(--grayish-blue);
    }

    .dot {
        display: flex;
        align-items: center;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--grayish-blue);
        opacity: 0.5;
    }
    @media (max-width: 600px) {
        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1.3rem;
            position: absolute;
            top: 4rem;
            left: 0;
            width: 100%;
            background-color: white;
            border-radius: 5px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transform: translateX(-200%);
            transition: transform 300ms ease-in;
        }

        .dot {
            height: 1px;
            width: 100%;
        }
    }
</style>
