<section>
    <div class="container">
        <p class="up-title"><span>New</span> Monograph Dashboard</p>

        <div class="wrap-title">
            <h1>Powerful insights</h1>
            <h1>into your team</h1>
        </div>

        <div class="body-p">
            <p class="body-p-content">Project planning and time tracking</p>
            <p>for agile teams</p>
        </div>

        <div class="wrap-button">
            <button>Schedule a demo</button>
            <p>to see a live preview</p>
        </div>
    </div>
</section>

<style>
    .up-title {
        text-transform: uppercase;
        color: var(--grayish-blue);
        letter-spacing: 2px;
    }

    span {
        background-color: var(--very-dark-blue);
        color: var(--light-grayish-blue);
        padding: 0.2rem 0.6rem;
        border-radius: 30px;
        font-weight: 700;
        font-size: 14px;
        margin-right: 0.4rem;
    }

    h1 {
        font-size: clamp(2.4rem, 5vw, 4rem);
        font-weight: 700;
        color: var(--very-dark-blue);
        margin-block: 1.2rem;
        text-transform: uppercase;
        line-height: 0.6;
        width: max-content;
    }

    .body-p,
    .body-p-content {
        color: var(--dark-grayish-blue);
        font-size: 18px;
        font-family: var(--ff-2);
    }
    .body-p-content {
        width: max-content;
    }

    .wrap-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
    }

    .wrap-button > p {
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
        color: var(--grayish-blue);
    }

    button {
        background-color: var(--red);
        color: var(--light-grayish-blue);
        padding: 0.8rem 1.2rem;
        text-transform: uppercase;
        font-family: var(--ff);
        font-size: 16px;
        letter-spacing: 0.7px;
        font-weight: 700;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
</style>
