---
import Header from './Header.astro';
import SectionText from '../components/SectionText.astro';
import pcImage from '../assets/illustration-devices.svg';
import { Image } from 'astro:assets';
---

<main>
    <Header />
    <div class="content-container container">
        <div class="content-container-img">
            <Image src={pcImage} alt="image of two devices a pc and a mobile" />
        </div>

        <SectionText />
    </div>
</main>

<style>
    main {
        min-height: 100vh;
        overflow-x: hidden;
    }

    main::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 50%;
        right: 0;
        left: 50%;
        background-color: var(--light-grayish-blue);
        border-bottom-left-radius: 50px;
    }

    .content-container {
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        gap: 7rem;
    }

    .content-container-img {
        margin-top: 1rem;
    }

    .content-container-img img {
        height: 100%;
        margin-left: -1.3rem;
        transform: scale(140%);
        transform-origin: left;
    }

    @media (min-width: 576px) {
        .content-container-img img {
            transform: scale(100%);
            transform-origin: left;
        }
    }

    @media (min-width: 800px) {
        .content-container {
            flex-direction: row-reverse;
            gap: 3rem;
            align-items: center;
            min-height: 70vh;
        }

        .content-container-img img {
            transform: scale(200%);
        }
    }

    @media (min-width: 992px) {
        .content-container {
            gap: 7rem;
        }
    }
</style>
